@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100;200;400;600;700;800;900&display=swap');

@font-face {
    font-family: "Lovely Valentine script" ;
    src: url(./fonts/Lovely\ Valentine\ Script.otf);
}

@font-face {
    font-family: "LovelyValentineScript";
    src: url(./fonts/Lovely\ Valentine\ Script.ttf);
}

:root{
    /* COLORS */

    --bourbon-50: #faf7ec;
    --bourbon-100: #f5ebcc;
    --bourbon-200: #ebd79d;
    --bourbon-300: #e0bb64;
    --bourbon-400: #d5a13a;
    --bourbon-500: #c68b2c;
    --bourbon-600: #b57326;
    --bourbon-700: #885020;
    --bourbon-800: #724121;
    --bourbon-900: #623721;
    --bourbon-950: #381b10;

    --black-50: #f6f6f6;
    --black-100: #e7e7e7;
    --black-200: #d1d1d1;
    --black-300: #b0b0b0;
    --black-400: #888888;
    --black-500: #6d6d6d;
    --black-600: #5d5d5d;
    --black-700: #4f4f4f;
    --black-800: #454545;
    --black-900: #3d3d3d;
    --black-950: #000000;

    /* FONTS */

    --font-primary: "LovelyValentineScript";
    --font-secondary: "Lovely Valentine script";
}