@import url(./root.css);

*{
    padding: 0;
    margin: 0;
    background: transparent;
}

.container{
    width: 100%;
    background-color: var(--black-100);
   
}

.first-section {
    background: var(--black-200);
    background-image: url(../img/slide_first-section.jpg);
    background-size:cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    padding: 1.5em 2em;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: top;
    height: 400px;

}

.title_first-section,
.subtitle_first-section,
.arrow_first-section{
    background: transparent;
   

}

.title_first-section{
    font-family: var(--font-primary);
    font-size: 3.5em;
    font-weight: 80;
    color: var(--bourbon-600);
    
}

.subtitle_first-section{
    font-family: 'Exo 2', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2em;
    color: var(--black-900);


}

.arrow_first-section{
    color: var(--black-500);
}


.second-section,
.text_second-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em 1em;
}

.title_text{
    font-family: 'Great Vibes', sans-serif;
    font-size: 2.5em;
    color: var(--bourbon-600);
}

.description_text{
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    color: var(--black-400);
    text-align: center;
    font-weight: 200;

}


.third-section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.3em;
    color: var(--black-400);
    font-weight: 200;
    padding: 2em 0;
    background-color: var(--black-50);

}

.descripcion_third-section,
.date_third-section,
.description_third-section,
.button{
    margin-top: 1em;
}

.icon_third-section{
    color: var(--black-900);
    font-size: 2em;
}

.title_third-section{
    color: var(--black-900);
    font-weight: 400;

}

.date_third-section{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    font-weight: 400;
    color: var(--black-900);

}

.line_date{
    margin-right: 20px;
    margin-left: 20px;
}

.hour_date span{
    font-size: 0.5em;
}

.description_third-section{
    text-align: center;
}

.button{
    text-decoration: none;
    color: var(--black-100);
    background-color: var(--bourbon-600);
    font-size: 0.8em;
    padding: 10px 50px;
    border-radius: 5px;
}

.dress_icon{
    width: 60px;
    height: 60px;
}